@charset "UTF-8";

:root {
  --bg: #fbfaf5;
  --fg: #2c2c2c;

  --sidebar-size: minmax(min-content, 1fr);
  --sidebar-max-size: 35rem;
  --sidebar-min-size: 30rem;
  --main-size: auto;
}

body {
  display: grid;

  grid-template:
    "title main ." min-content
    "sidebar main ." 1fr
    "sidebar footer ." auto
    / var(--sidebar-size) var(--main-size) var(--sidebar-size);
}

#title {
  grid-area: title;
  justify-self: end;
  width: 100%;
  max-width: var(--sidebar-max-size);
  min-width: var(--sidebar-min-size);

  margin: 0;
  padding: 0;
}

#title h1 {
  margin: 0;
  padding: 3rem 1rem 1rem 1rem;
  font-size: 2.25rem;
}

body > main {
  grid-area: main;
  height: 100%;
}

#sidebar {
  grid-area: sidebar;
  justify-self: end;
  width: 100%;
  max-width: var(--sidebar-max-size);
  min-width: var(--sidebar-min-size);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
}

#title > nav {
  padding: 0.7rem;
}

#title > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;
}

#title > nav > ul > li {
  display: inline-block;
  margin: 0;
}

body > footer {
  grid-area: footer;
}

.page-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 0.2rem;
}

.page-nav ul li a {
  display: inline-block;
  padding: 0.8rem;
}

#tags {
  list-style-type: none;
  font-size: 2.75rem;
}

#tags li {
  display: inline-block;
  margin: 0.2rem;
}

#tags a {
  text-decoration: none;
}

#tags a:hover {
  text-decoration: underline;
}

#archives li {
  margin-left: 2rem;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.post > header h2,
.page > header h2 {
  font-size: 3rem;
  line-height: 3rem;
}

.post > header,
.page > header {
  margin: 0;
  padding: 0;
}

.post > header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5rem;

  margin: 0;
}

.post > header nav ul li {
  margin: 0;
}

.post > footer {
  text-align: left;

  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Fix code blocks making the page wide */
pre {
  white-space: pre-wrap;
  word-break: normal;
  overflow-wrap: anywhere;
  tab-size: 4;
}

@media (max-width: 900px) {
  body {
    grid-template: "title" "main" "sidebar" "footer";
  }

  #title {
    justify-self: stretch;
    max-width: unset;
    min-width: unset;
  }

  #sidebar {
    justify-self: stretch;
    max-width: unset;
    min-width: unset;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 600px) {
  main {
    padding: 0.5rem;
  }

  #sidebar {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
